.idea/
.vscode/
assets/js/ckeditor
assets/users
assets/img/
assets/js/fa.js
assets/js/all.min.js
creditos
error/
termos/
composer.lock/
vendor/
servers/node_modules/
config/config.php
config/PHPMailer/
config/localconfig.php
includes/head.html
robots.txt
.htaccess
favicon.png
sitemap.xml
test.php
ads.txt
conta/google
conta/google/index.php
local.*