/*@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=EB+Garamond&family=Flow+Circular&family=Lemon&family=Permanent+Marker&family=Special+Elite&display=swap'); /* ===== Scrollbar CSS ===== */

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=EB+Garamond&family=Flow+Circular&family=IM+Fell+English+SC&family=Lemon&family=Permanent+Marker&family=Special+Elite&family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');/* Firefox */
/* Chrome, Edge, and Safari */
@font-face {
    font-family: sigilos;
    src: url('https://beta.fichasop.com/assets/css/sigilos.ttf');
}
.sigilos {
    font-family: sigilos;
    color: yellow;
}
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 3px;
    border: 0 none #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@font-face {
    font-family: 'daisywheelregular';
    src: url('../../../assets/css/daisywhl-webfont.woff2') format('woff2'),
    url('../../../assets/css/daisywhl-webfont.woff') format('woff');

}

.font1 {
    font-family: 'Concert One', cursive;
}

.font2 {
    font-family: 'EB Garamond', serif;
}

.flow {
    font-family: 'Flow Circular', cursive;
}

.font4 {
    font-family: 'Lemon', cursive;
}

.font5 {
    font-family: 'Permanent Marker', cursive;
}

.font6 {
    font-family: 'Special Elite', cursive;
}

.font7 {
    font-family: 'IM Fell English SC', serif;
}

.font8 {
    font-family: 'daisywheelregular', cursive;
}

.font9 {
    font-family: 'Yuji Boku', serif;
}

.font10 {
    font-family: 'Cagliostro', sans-serif;
}

.containera {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 355px;
    color: white;
}

.containera img {
    width: 300px;
    height: 355px;
}

.atributos {
    font-size: 30px;
    position: absolute;
    text-align: center;
    height: 22%;
    width: 26.03%;
}

.for {
    margin-top: 38.75%;
    margin-left: 5.75%;
}

.agi {
    margin-top: 15.75%;
    margin-left: 37%;
}

.int {
    margin-top: 38.75%;
    margin-left: 69%;
}

.pre {
    margin-top: 76.5%;
    margin-left: 15.5%;
}

.vig {
    margin-top: 76.5%;
    margin-left: 57.5%;
}
:root {
    --bs-black-rgb:25,25,25;
}